@import "tailwindcss";

:root {
  --font-poppins: 'Poppins', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  scrollbar-width: thin;
  /* auto | thin */
  scrollbar-color: #FE5800 #000000;
  /* thumb | track */
  scroll-behavior: smooth;
}

/* Width */
::-webkit-scrollbar {
  width: 8px;
  /* 👈 yahan width control */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #000000;
  /* black bg */
}

/* Thumb (scroll handle) */
::-webkit-scrollbar-thumb {
  background: #FE5800;
  /* orange color */
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #ff6a1a;
}